.sidebar{
  background: var(--gray-800);
  border-radius: 8px;
  overflow: hidden;
}

.cover{
  height: 72px;
  width: 100%;
  object-fit: cover;
}

.profile{
  display: flex;
  align-items: center;
  flex-direction: column;

  margin-top: calc(0px - 1.5rem - 6px) 
}



.profile strong{
  margin-top: 1rem;
  line-height:1.6;
  color: var(--gray-100);
}

.profile span{
  font-size: .875rem;
  line-height:1.6;
  color: var(--gray-400);
}

.sidebar footer{
  border-top: 1px solid var(--gray-600);
  padding: 1.5rem 2rem 2rem ;
  margin-top: 1.5rem;
}

.sidebar a {
  background: transparent;
  display: flex;
  height: 50px;

  align-items: center;
  justify-content: center;

  text-decoration: none;
  color: var(--green-500);

  border-radius: 8px;
  border: 1px solid var(--green-500);

  padding: 0 1.5rem;

  font-weight: bold;
  gap: .5rem;

  transition: color 0.2s, background-color 0.2s;
}

.sidebar a:hover{
  color: var(--white);
  background-color: var(--green-500);
}